{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": ["tsconfig.json"]
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "ignorePatterns": ["**/node_modules/**", "dist", "webpack.config.js"],
    "settings": {
        "import/resolver": {
            "typescript": {}
        },
        "react": {
            "createClass": "createReactClass", // Regex for Component Factory to use,
                                               // default to "createReactClass"
            "pragma": "React", // Pragma to use, default to "React"
            "fragment": "Fragment",  // Fragment to use (may be a property of <pragma>), default to "Fragment"
            "version": "detect" // React version. "detect" automatically picks the version you have installed.
                                // You can also use `16.0`, `16.3`, etc, if you want to override the detected value.
                                // default to latest and warns if missing
                                // It will default to "detect" in the future
        }
    },
    "env": {
        "browser": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:react/recommended",
        "airbnb-base"
    ],
    "rules": {
        "import/no-extraneous-dependencies": "off",
        "prefer-arrow-callback": "off",
        "import/prefer-default-export": 0,
        "operator-linebreak": "off",
        "quotes": ["error", "double"],
        "indent": ["error", 4],
        "linebreak-style": 0,
        "no-use-before-define": "off",
        "no-unused-vars": "off",
        "nonblock-statement-body-position": "off",
        "curly": "off",
        "object-curly-newline": "off",
        "no-confusing-arrow": "off",
        "no-undef": "off",
        "arrow-parens": "off",
        "react/prop-types": "off",
        "react/display-name": "off",
        "max-len": ["error", { "code": 120 }],
        "import/extensions": [
            "error",
            "ignorePackages",
            {
              "js": "never",
              "jsx": "never",
              "ts": "never",
              "tsx": "never"
            }
        ],

        "@typescript-eslint/no-non-null-assertion": 0,
        "@typescript-eslint/explicit-module-boundary-types": 0,
        "@typescript-eslint/no-use-before-define": ["error"]
    }
}